<!-- <div class="jumbotron">
  <div class="row">
    <div id="map" class="col-lg-12"></div>
  </div>
</div>

<div class="container"> -->
  <div class="row">
    <div id="map"></div>
  </div>
  <div class="wrapper">
    <div class="row text-center">
      <h1><mark><%= @crawl.name %></mark></h1>
      <p><%= @crawl.description if @crawl.description %></p>
      <br/>
      <br/>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-hover">
          <th></th>
          <th><h3>Name</h3></th>
          <th><h3>Address</h3></th>
          <th><h3>City</h3></th>
          <th></th>
          <% @bars.each_with_index do |bar, index| %>
            <tr>
              <td><h4><%= "#{index + 1}. " %></h4></td>
              <td><h4><%= bar.name %></h4></td>
              <td><p><%=  bar.address %></p></td>
              <td><p><%=  bar.city %></p></td>
              <td><a href="/crawl/<%= bar.crawl_id %>/bar/<%= bar.id %>" class="btn btn-info" role="button">Bar Details</a></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

  <script type="text/javascript">
    var map;

    function initMap(coords) {
    var mapDiv = document.getElementById('map');
    var infowindow = new google.maps.InfoWindow();
      map = new google.maps.Map(mapDiv, {
          center: {
              lat: 43.656288,
              lng: -79.380905
          },
          zoom: 14
      });
      centerMap()
      var markers = []
    <% @crawl.bars.each do |bar| %>
      latLng = new google.maps.LatLng({
                    lat: <%= bar.latitude %>,
                    lng: <%= bar.longitude %>
                });
      var marker = new google.maps.Marker({
          position: latLng,
          map: map,
          title: '<% bar.name %>'
      })
      google.maps.event.addListener(marker, 'click', function(content) {
        return function(){
          infowindow.setContent(content);//set the content
          infowindow.open(map,this);
        }
      }("<a href='#'><%= bar.name %></a>"));
      markers.push(marker);
    <% end %>
    }

    function centerMap() {
      var geolocation = null;

      if (window.navigator && window.navigator.geolocation) {
          geolocation = window.navigator.geolocation;
      }

      if (geolocation) {

          geolocation.getCurrentPosition(
              function(position) {
                  latLng = new google.maps.LatLng({
                    <% if @crawl.bars.any? %>
                      lat: <%= @crawl.first_bar_coords[:lat] %>,
                      lng: <%= @crawl.first_bar_coords[:lng] %>
                    <% else %>
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                    <% end %>
                  });
                  map.panTo(latLng);
              }
          );
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</div>
