<!-- <div class="jumbotron">
  <div class="row">
    <div id="map" class="col-lg-12"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="wrapper"> -->
  <div class="row">
    <div id="map"></div>
  </div>
  <div class="wrapper">
    <div id="move-up" class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="text-center text-uppercase"><mark>Something About Pub Crawls</mark></h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra, sapien eget consectetur tempor, nulla tortor semper sapien, vitae consequat neque enim sit amet elit. Morbi hendrerit elementum metus, a aliquet purus tincidunt sit amet. Mauris cursus urna eget quam ultrices interdum. Proin quis volutpat velit. Duis in risus fermentum, tempor nulla vel, rhoncus est. Aliquam erat volutpat. Fusce bibendum a dolor at semper. Nullam ut sem eu dolor dapibus rhoncus. Aenean lacus diam, euismod nec tincidunt et, rutrum nec nisl. Ut vel consequat dui, sit amet ultricies dolor. Phasellus pellentesque feugiat sapien, in luctus est cursus et. Integer blandit.</p>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <table class="table table-hover">
          <th><h3>Name</h3></th>
          <th><h3>Start Address</h3></th>
          <th><h3>More Info</h3></th>
          <th><h3>Tags</h3></th>
          <% @crawls.each do |crawl| %>
            <tr>
              <td><h4><%= crawl.name %></h4></td>
              <td><p><%=  crawl.bars.first.address if crawl.bars.first %></p></td>
              <td><a href="/crawl/<%= crawl.id %>" class="btn btn-info" role="button">Details</a>
              </td>
              <td>
                <% crawl.tags.each do |tag| %>
                  <a href="#" class="crawl-tag"><%= tag.name %></a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <script type="text/javascript">
    var map;
    function initMap(coords) {
    var mapDiv = document.getElementById('map');
    var infowindow = new google.maps.InfoWindow();
      map = new google.maps.Map(mapDiv, {
          center: {
              lat: 43.656288,
              lng: -79.380905
          },
          zoom: 14,
        scrollwheel: false
      });
      centerMap()
      var markers = []
    <% @crawls.each do |crawl| %>
      <% if crawl.bars.first %>
        latLng = new google.maps.LatLng({
                      lat: <%= crawl.first_bar_coords[:lat] %>,
                      lng: <%= crawl.first_bar_coords[:lng] %>
                  });
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: '<% crawl.name %>'
        })
        google.maps.event.addListener(marker, 'click', function(content) {
          return function(){
            infowindow.setContent(content);//set the content
            infowindow.open(map,this);
          }
        }("<a href='/crawl/<%= crawl.id %>'><%= crawl.name %></a>"));
        markers.push(marker);
      <% end %>
    <% end %>
    }

      function centerMap() {
        var geolocation = null;

        if (window.navigator && window.navigator.geolocation) {
            geolocation = window.navigator.geolocation;
        }

        if (geolocation) {

            geolocation.getCurrentPosition(
                function(position) {
                    latLng = new google.maps.LatLng({
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    });
                    map.panTo(latLng);
                }
            );
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
  </div>
</div>
